@media all {
	#gallery {
		overflow: scroll;
	}
}

@media (min-device-width: 768px) and (max-device-width: 992px) {
	
	figure {
		width: 48%;
	}
	header,
	figcaption {
		font-size: 1.5em;
	}
}

@media (min-device-width: 480px) and (max-device-width: 767px) {
	
	figure {
		width: 80%;
	}
	header,
	figcaption {
		font-size: 1.9em;
	}
}

@media (max-device-width: 479px) {
	
	figure {
		width: 99%;
	}
	header,
	figcaption {
		font-size: 1.9em;
	}
}